---
import Header from 'component:head'
import Footer from 'component:foot'
import Banner from 'component:banner'
import config from '$config'
import Stf from '$scripts/warnReasons'
const {title,is,warn,warnReason,noindex} = Astro.props;
if (warnReason) warnReason.forEach(item => Stf.add(item))
---
<html lang="en">
  <head>
    {noindex ? <meta name="robots" content="noindex"> : "\r"}
    {warn ? <meta name="rating" content="adult"> : "\r"}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="theme-color" content="#0aa06e"/>
    <meta name="author" content={config.author}>
    <meta name="description" content={Astro.props.is ? `${config.author} is ${Astro.props.is}.` : `Some ramblings about ${Astro.props.title}!`}>
    <title>{title}</title>
  </head>
  <body>
    {warn ?
    <Banner full>
      <h1>Content warning! 🛑</h1>
      {warnReason ?
      <h2>The following page may contain</h2>
      <ul>
        {warnReason.map((item) => (
          <li>{item}</li>
        ))}
      </ul> : null}
      <p>If you are not an adult, or simply do not wish to see this content, turn back now.</p>
      <hr/>
      <p>As always, it's a good time to remind you that the opinions voiced
      are MY OWN and do not reflect that of my employer.</p>
    </Banner> : null
    }
    <div>
      <div>
        <Header is={is} title={title}/>
        <article>
          <slot name="title">
            <h2>{title}</h2>
          </slot>
          <slot/>
        </article>
        <Footer/>
      </div>
    </div>
  </body>
</html>

<style global lang="sass">
@import '../main.scss'
</style>